[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "HistDAWass"]
	path = HistDAWass
	url = https://github.com/airpino/histdawass
	shallow = true
	registered = true
